@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --bg: theme(colors.gray.50);
    --text: theme(colors.gray.900);
    --border: theme(colors.gray.200);
    --input-bg: oklch(0.98 0 0.5);
    --input-border: theme(colors.black);
  }

  @media (prefers-color-scheme: dark) {
    :root {
      --bg: theme(colors.gray.950);
      --text: theme(colors.gray.200);
      --border: theme(colors.gray.800);
      --input-bg: oklch(0.352 0 89.876);
      --input-border: theme(colors.white);
    }
  }

  html {
    color-scheme: light dark;
    @apply bg-[var(--bg)] text-[var(--text)];
  }

  * {
    @apply border-[var(--border)];
  }

  body {
    @apply bg-[var(--bg)] text-[var(--text)];
  }

  input {
    @apply bg-[var(--input-bg)] text-[var(--text)] rounded-md;
    border: 1px solid var(--input-border);
  }

  .using-mouse * {
    outline: none !important;
  }
}
